@font-face {
  font-family: 'ztt'; /* 自定义的字体名称; */
  src: url('../../assets/font/ztt.ttf') format(truetype);
  font-weight: bold; /*  是否为粗体 */
  font-style: normal; /*  定义字体样式，如斜体 */
}

@function x2w($px) {
  @return $px / 375 * 100vw;
}

@media screen and (max-width: 768px) {
  .home-wrapper {
    margin-bottom: x2w(100);
  }
}
.home-wrapper {
  display: flex;
  flex-direction: column;
  .introduction {
    flex: 2;
    width: x2w(375);
    height: 30vh;
    background: url('../../assets/img/banner1.jpg') 100% 100%;
    background-size: cover;
    .introduction-wrapper {
      margin: 0 auto;
      width: 100%;
      text-align: center;
      font-size: x2w(40);
      font-family: 'bad';
      color: #fff;
      p {
        margin: 0;
        .name {
          font-size: 1.9rem;
        }
      }
    }
  }
  .article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .article-list-item {
      display: flex;
      flex-direction: column;
      flex-grow: initial;
      flex-basis: 100%;
      width: x2w(375);
      padding: 20px;
      border-radius: 1vh;
      box-shadow: 2px 1px 7px black;

      &:first-child {
        background-color: #c7372a;
      }
      &:nth-child(3n + 2) {
        background-color: #bc3428;
      }
      &:nth-child(3n + 3) {
        background-color: #b13125;
      }
      &:nth-child(4) {
        display: block;
        background-color: #c7372a;
      }

      .article-header {
        flex: 1;
        height: 70px;
        line-height: 70px;
        .article-header-img {
          display: inline-block;
          position: relative;
          width: 70px;
          height: 70px;
          margin-right: 20px;
          transform: rotate(-20deg);
          border: 5px solid #fff;
          border-radius: 10px;
          transition: all ease-out 0.6s;
          &:hover {
            transform: rotate(0);
          }
          img {
            height: 60px;
          }
        }
        .article-header-time {
          font-size: x2w(18);
          color: #fff;
          font-family: 'chinese';
        }
      }
      .article-content {
        flex: 3;
        a {
          text-decoration: none;
          .article-content-title {
            font-family: 'ztt', monospace;
            display: -webkit-box;
            overflow: hidden;
            font-size: 1.8rem;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2; /*这个数字是设置要显示省略号的行数*/
            -webkit-box-orient: vertical;
            color: #fff;
          }
        }
        .article-content-summary {
          font-size: 1.2rem;
          color: #e2d7d7;
        }
      }

      .article-info {
        flex: 1;
        font-size: 1.8rem;
        color: #fff;
        .comment {
          position: relative;

          .comment-count {
            position: absolute;
            top: -2px;
            left: 30px;
            margin-left: 2px;
            font-size: 1.1rem;
          }
        }

        .category {
          margin-top: 10px;
          overflow: hidden;
          .icon {
            transform: scale(0.8);
            float: left;
            margin-right: 5px;
          }
          .category-name {
            float: left;
            margin-top: -5px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 767px) {
    .introduction {
      height: 30vh;
      .introduction-wrapper {
        color: #fff;
        font-size: 6rem;
        p {
          margin: 0;
          .name {
            font-size: 3.9rem;
          }
        }
      }
    }
    .article-list {
      .article-list-item {
        flex: 2;
        flex-basis: 100%;
        padding: 5vh 2vh 5vh 5vh;
        transition: all ease-out 0.8s;
        @media screen and (min-width: 1024px) {
          flex-basis: 50%;
          height: 80vh;
          &:nth-child(4) {
            display: flex;
          }
        }

        @media screen and (min-width: 1919px) {
          flex-basis: 33%;
          height: 70vh;
          &:nth-child(4) {
            display: none;
          }
        }
        .article-header {
          .article-header-time {
            font-size: 1.4rem;
            color: #fff;
            font-family: 'chinese';
          }
        }
        .article-content {
          flex: 3;
          a {
            text-decoration: none;
            .article-content-title {
              font-size: 2rem;
              -webkit-line-clamp: 3;
            }
          }
          .article-content-summary {
            font-size: 1.8rem;
            color: #e2d7d7;
          }
        }

        .article-info {
          .comment {
            font-size: 2.3rem;
            .comment-count {
              margin-left: 10px;
              font-size: 1.1rem;
            }
          }
          .category {
            font-size: 2rem;
            .category-name {
              font-size: 1.8rem;
            }
          }
        }
      }
    }

    .git-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      text-align: center;
      background-color: rgb(240, 234, 234);

      .git-list-item {
        flex: 1;
        height: 20vh;
        flex-basis: 25%;
        padding-top: 2rem;
        font-size: 6rem;
        font-family: 'bad';
        transition: all ease-in-out 2s;
        &:hover {
          background: url('../../assets/img/banner2.jpg') no-repeat;
          background-size: 100%;
          color: #fff;
          transform: scale(1.1);
          transition: all ease-in-out 2s;
        }
      }
      .say {
        position: relative;
        width: 100%;
        height: 40vh;
        padding-left: 20px;
        padding-top: 50px;
        background-color: #c7372a;
        color: #fff;
        font-size: 100px;
        font-family: 'bad';

        div {
          position: absolute;
          top: 20%;
          right: 10%;
        }
      }
    }
  }
}
