@function x2w($px) {
  @return $px / 375 * 100vw;
}

$headerColor: #d33a2c;

ul li {
  list-style: none;
}

a {
  color: #fff;
}

.header-wrapper {
  min-height: 6.2375rem;
  background-color: $headerColor;
  max-width: x2w(375);
  h1 {
    text-align: center;
    color: #fff;
  }
}
