* {
  box-sizing: border-box;
}
@function x2w($px) {
  @return $px / 375 * 100vw;
}

$headerColor: #d33a2c;

.header-wrapper {
  padding: 10px;
  height: 20vh;
  max-width: x2w(375);
  background-color: $headerColor;
  color: aliceblue;
  transition: all ease 0.4s;

  .logo {
    display: none;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    height: 10vh;
    .logo {
      display: block;
      flex: 1;
      flex-basis: 100%;
      height: 100%;
      text-decoration: none;
      color: #fff;
      font-size: x2w(33);
      h1 {
        margin: 0;
      }
    }
    * {
      display: none;
    }
  }
}
@media screen and (min-width: 768px) {
  .header-content {
    display: flex;
    height: 100%;
    .header-content-nav {
      display: flex;
      flex: 4;
      transition: all ease 0.5s;
      .header-content-nav-link {
        text-align: center;
        display: flex;
        width: 100%;
        justify-content: space-around;
        transition: all ease 0.4s;

        li {
          font-family: 'cartoon', cursive;
          height: 100%;
          line-height: 42px;
          width: 30%;
          opacity: 1;

          a {
            color: inherit;
            text-decoration: none;
            &.active {
              color: rgba($color: #432f21, $alpha: 0.7);
            }
          }

          .img {
            height: 45%;
            margin-bottom: 10px;
            img {
              transition: all ease 0.4s;
              transform: rotate(-30deg);
              height: 100%;
              &:hover {
                transform: rotate(0deg);
              }
            }
          }

          .title {
            transition: all ease 0.4s;
            font-size: 60px;
          }

          .desc {
            transition: all ease 0.4s;
            color: rgba($color: #fff, $alpha: 0.7);
            font-family: 'cartoon', Courier, monospace;
          }
          @media screen and (max-width: 1100px) {
            .desc {
              visibility: hidden;
            }
            .title {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}

.footer-wrapper {
  color: #fff;
  background-color: #97282c;
  text-align: center;
  height: 50px;
  line-height: 50px;

  .icp-info {
    a {
      color: #fff;
      text-decoration: none;
      span {
        i {
          display: inline-block;
          width: 20px;
          height: 18px;
          background-color: #fff;
          background: url('../../assets/img/sprite_9dd5c92.png') -10px -44px no-repeat;
          background-size: 128px 128px;
        }
      }
    }
  }
  .footer-nav {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .icp-info {
      display: none;
    }

    .footer-nav {
      position: fixed;
      display: flex;
      bottom: 0;
      left: 0;
      margin: 0;
      padding-left: 0;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      border-radius: x2w(20) x2w(20) 0 0;
      background: linear-gradient(to bottom, #d33a2c, #96036d);
      color: #fff;
      .footer-nav-item {
        flex-basis: 33%;
        a {
          color: rgba(0, 0, 0, 0.6);
          text-decoration: none;
          &.active {
            transform: scale(1.1);
            color: #fff;
          }
          svg {
            font-size: x2w(40);
          }
        }
      }
    }
  }
}
