@import './assets/normalize';
@import './assets/font';

* {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

body {
  font-size: calc(18px + 0.25vw);
}

.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);

  transition: all 1500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1500ms;
}
